
/*ERROR PAGE*/
.FishError {
    width: 15%;
    max-width: 300px;
    margin: 0 auto;
}
/*responsive*/

@media (max-width:767px) {
    .FishError {
        width: 50%;
        max-width: 200px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .FishError {
        width: 25%;
    }

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
}