
    /* Estilo personalizado para el botón del menú */
    #sidebarCollapse {
      font-size: 25px;
      /* Ajusta el tamaño según tus necesidades */
      cursor: pointer;
      /* Cambia el cursor a una mano para indicar que es interactivo */
      border: 1px solid black;
      /* Borde del mismo color que el icono */
      transition: box-shadow 0, 5 s;
      /* Agrega transición para la sombra */
      border-radius: 0px;
      /* Bordes redondos */
      width: 75px;
      /* Ancho del botón */
      height: 31px;
      /* Altura del botón */
      line-height: 30px;
      /* Alineación vertical del icono */
      text-align: center;
      /* Alineación horizontal del icono */
      color: white;
      position: absolute;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.034); /* Fondo negro */
    }
/* Cambia el color a negro cuando el menú está colapsado */
#sidebarCollapse.collapsed {
  color: black; /* Cambia el ícono a negro */
  border-color: black; /* Cambia el borde a negro */
  background-color: white; /* Fondo blanco */
}
table {
  background-color: #FFF;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

td {
  padding: 10px;
}
.table-wrapper {
  max-width: 100%; /* Esto limita el ancho al 80% del contenedor */
  max-height: 400px; /* Limita la altura para que no sea muy larga */
  margin-top: -70px; /* Centra la tabla en el contenedor */
  overflow-y: auto; /* Activa el scroll vertical si es necesario */
}

.table {
  margin-bottom: 0; /* Evita espacios innecesarios debajo de la tabla */
}

.table-responsive {
  border: 1px solid #ccc; /* Añade un borde alrededor de la tabla */
  background-color: white; /* Color de fondo blanco para la tabla */
}

.container {
  margin-top: 50px;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1200px; /* Limitar el ancho del contenedor */
}

label {
  font-size: 18px;
}

input[type=submit] {
      background-color: white;
      border: none;
      color: black;
      font-weight: bold;
      padding: 10px 20px;
      text-align: center;
      font-size: 16px;
      margin: 4px 0;
      box-shadow: 3px 3px 3px black;
      cursor: pointer;
      border-radius: 4px;
  }


  input[type="submit"]:hover {
      background-color: green;
  }

img {
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.btn-success {
  background-color: rgba(34, 28, 28, 0.5);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-success:hover {
  background-color: black; /* Color verde más oscuro al pasar el mouse */
}


.btn-custom {
  background-color: red;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: red;
}


.container-fluid {
  margin-top: 0;
  margin-bottom: 0;
}

.flex-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 56px); /* Ajusta según la altura de la barra de navegación */
}

.centered-content {
  text-align: center;
}

#sidebar {
  background-color: #000;
  color: #fff;
}


    .FondoLateralHeader {

      background: black;
      /* Fallback para navegadores que no admiten gradientes */
      background: black;

      background: black;

    }


/* CARD ADD PRODUCT */ 
.card-add-product {
  padding: 0 110px;
  box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
}

/*FORM CONTROL */
.form-control {
  border: none;
  background-color: #EEEEEE;
}