<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #FFFFFF;
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
        }

        .logo img {
            max-width: 125px;
        }

        .divider {
            border-top: 1px solid #dddddd;
            margin: 20px 0;
        }

        .footer {
            text-align: center;
            color: #444a5b;
        }

        h1 {
            font-size: 38px;
            color: #1e0e4b;
            font-weight: 700;
        }

        .code {
            font-weight: 700;
            font-size: 20px;
            color: #a91d3a;
        }
    </style>
</head>

<body>
    <div class="container py-4">
        <!-- Header -->
        <div class="row align-items-center">
            <div class="col-3 text-center logo">
                <img src="" alt="LOGO">
            </div>
            <div class="col-9">
                <h1>Mariscos el Almirante</h1>
            </div>
        </div>

        <!-- Content -->
        <div class="mt-4">
            <h2 style="color: #a91d3a;"><strong>Crea una nueva contraseña</strong></h2>
            <p>Hola <strong>{{ username }}</strong>,</p>
            <p>
                Hemos recibido una solicitud para restablecer tu contraseña. Si deseas continuar, copia el siguiente código:
            </p>
            <p class="code">{{ code }}</p>
            <p>Si no has solicitado este cambio, puedes ignorar este mensaje; no se requiere ninguna acción adicional.</p>
        </div>

        <!-- Divider -->
        <div class="divider"></div>

        <!-- Footer -->
        <div class="footer">
            <p><em>Un abrazo,</em><br>Equipo de Mariscos el Almirante</p>
            <p>Enviado con ❤ desde Mariscos el Almirante</p>
        </div>
    </div>

    <script src="../../js/bootstrap.bundle.min.js""></script>
</body>

</html>
